* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

main {
    height: 100vh;
    width: 100vw;
    background-image: url("/img/background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex: row wrap;
    justify-content: center;
    align-items: center;
}

.circle {
    position: fixed;
    height: 8vw;
    width: 8vw;
    border-radius: 50%;
    background-color: white;
    opacity: 0.5;
}

.sudoku {
    z-index: 1;
}