<!DOCTYPE html>
<html lang="en">

<head>
    <title>sudoku</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>
    <article>
        <header>
            <h1>sudoku</h1>
        </header>
        <section>
            <img src="/img/favicon.ico" alt="hier ist ein testbild">
        </section>
        <section>
            <div class="sudoku">

            </div>
        </section>
    </article>
</body>

</html>