<!DOCTYPE html>
<html lang="en">

<head>
    <title>sudoku</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/mq-800-plus.css" media="(min-width:800px)">
    <link rel="stylesheet" href="/css/mq-1200-plus.css" media="(min-width:1200px)">
    <script type="text/javascript" src="/scripts/circles.js"></script>
</head>

<body>
    <header>
        <article>
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
        </article>
    </header>
    <main>
        <article class="sudoku">
            <img src="/img/favicon.ico" alt="das sudoku spiel">
        </article>
    </main>
</body>

</html>